.common{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    height: 100px;
    background-color: rgb(7, 145, 135);
    color: blanchedalmond;
    line-height: 100px;
}
.mainbody{
    background-color: blanchedalmond;
    color: rgb(7, 145, 135);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 25px solid blanchedalmond ;
    margin: 20px;
    padding: 20px;
    text-align: center ;
}
.footer{
    background-color: rgb(164, 8, 195);
    color: rgb(7, 145, 135);
}

nav a{
    float: left;
    color: black;
    padding: 10px 13pxx;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

}

nav a:hover{
    background-color: aliceblue;
}